# Test VM, used for testing methods
main:
# Push 'Check Length: ' to stack, byte by byte
push 0x00
push 0x20
push 0x3a
push 0x74
push 0x75
push 0x70
push 0x6e
push 0x49

push 0   # print
syscall
# Allocate buffer for str
push 255 # buffer size
push 2	# syscall idx
syscall # malloc
# Read input
pop r0
push 255 # max size
push r0 # buffer
push 1
syscall # read
# Assume input string is at top of stack
strlen:
# Initialize counter
push 0
pop r0

# Initialize pointer
pop r1
loop:

# Read character
push 1	# length to read
push r1 # pointer
read	# Read character

# Check if character is null
push 0
cmp
jz end

# Increment counter
push r0
push 1
add
pop r0

# Increment pointer
push r1
push 1
add
pop r1

# Loop
jump loop

end:
# Return counter
push r0
ret