# Test VM, used for testing methods
main:
push 0x00	# null-terminator
push 0x20	# space
push 0x3a	# colon
push 0x64	# d
push 0x72	# r
push 0x6f	# o
push 0x77	# w
push 0x73	# s
push 0x73	# s
push 0x61	# a
push 0x50	# P
push 0x20	# space
push 0x72	# r
push 0x65	# e
push 0x74	# t
push 0x6e	# n
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
push 0x45	# E
# Print
push 0
syscall # print syscall
push 1337
ret